<h1>Editar contato #<%= @article.id %></h1>
 
<%= form_for :contact, url: contact_path(@contact), method: :patch do |f| %>
  <% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited
      this contact from being saved:</h2>
    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %> (opcional)
  </p>

  <p>
    <%= f.label :adress %><br>
    <%= f.text_field :adress %> (opcional)
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', acontact_path %>