<h1>Mostrando Contato <%= @contact.id %> </h1>

</p>
<strong>Nome:</strong>
<%= @contact.name %></br>

<strong>Telefone:</strong>
<%= @contact.phone %></br>

<strong>E-mail:</strong>
<%= @contact.email %></br>

<strong>Endereco:</strong>
<%= @contact.adress %></br>

<%= link_to 'Editar', edit_contact_path(@contact) %></br>
<%= link_to 'Voltar', contacts_path %>